:root {
  --Wh : #c7c7c7
}

body {
  background-color: #262626
}
h1{
  color: var(--Wh);

}
p {
  color: var(--Wh);

}
a {
  color: var(--Wh);
}
h2 {
  color: var(--Wh);
}
h3 {
  color: var(--Wh);
}
.DisplayText{
  font-family: "Segoe UI","Helvetica Neue","Helvetica",Arial,sans-serif;
  max-width: 500px;
  margin: auto;
}

.info{
  font-family: "Segoe UI","Helvetica Neue","Helvetica",Arial,sans-serif;
  max-width: 1000px;
  margin: auto;
}

.IP{
  font-family: "Segoe UI","Helvetica Neue","Helvetica",Arial,sans-serif;
  max-width: 1000px;
  margin: auto;
}

.IP_TEXT{
  display: inline-block;
}
.IP_BUTTOM
{
  margin-left : 20px;

  background-color: #262626;
  color: var(--Wh);
  border-radius: 4px;
  border-radius:
  font-family: inherit;
  cursor: pointer;
  box-shadow: none;
}

.DISCORD{
  font-family: "Segoe UI","Helvetica Neue","Helvetica",Arial,sans-serif;
  max-width: 1000px;
  margin: auto;
}

.DISCORD_TEXT{
  display: inline-block;
}
.DISCORD_A{
  font-size: 18px;
  display: inline-block;
  font-weight: bold;

}

.DISCORD_BUTTOM
{
  margin-left : 20px;

  background-color: #262626;
  color: var(--Wh);
  border-radius: 4px;
  border-radius:
  font-family: inherit;
  cursor: pointer;
  box-shadow: none;
}
